@using InventorySystem.Models.ViewModels
@model ProductViewModel
    <link href="~/css/Forms.css" rel="stylesheet" />
    <div class="form-container">
        <h1 class="form-title">Edit Product</h1>
        <form asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProd" />
            <input type="hidden" asp-for="CreationDate" />
            <input type="hidden" asp-for="ImageRoot" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control">
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" type="number" min="0">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="ViewBag.State"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label"></label>
                <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="IdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLocation" class="control-label"></label>
                <select asp-for="IdLocation" class="form-control" asp-items="ViewBag.Location"></select>
                <span asp-validation-for="IdLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image">Product Image</label>
                <input type="file" name="Image" class="form-control">
            </div>
            <p>
                <div class="d-flex align-items-center justify-content-between">

                    <input type="submit" value="Edit" class="btn btn-primary" />
                    <a href="/Product/Index" class="btn btn-secondary ms-auto">Return</a>

                </div>
            </p>
        </form>
</div>

@*Este codigo sirve para que la validacion pueda
    visualizarse en el frontend utilizando codigo de Javascript*@
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
